@import (less) "../bower_components/.dist/bower.css";
@import (less) "variables.less";
@import (less) "helpers.less";
@import (less) "icon.less";

*, *:before, *:after {
  box-sizing: border-box;
}

html {
  font-family: @fontFamily;
  font-size: @fontSize;
  font-weight: 400;
  color: @colorFg;
  line-height: 1.4;
}

body {
  background-color: @colorViolett;
}

a {
  text-decoration: none;
  color: @colorLink;
}

ul {
  margin: 0;
  padding: 0;
}

h1 {
  margin-bottom: 1.6em;
  text-align: center;
  text-transform: uppercase;
  font-size: 1.2rem;

  @media (min-width: @breakpointSmall) {
    font-size: 1.4rem;
  }

  @media (min-width: @breakpointMedium) {
    font-size: 1.8rem;
  }

  span {
    padding: 0 2px;
  }
}

h2 {
  text-align: center;
  font-size: 1rem;

  @media (min-width: @breakpointSmall) {
    font-size: 1.1rem;
  }

  @media (min-width: @breakpointSmall) {
    font-size: 1.2rem;
  }

  span {
    padding: 0 2px;
  }
}

h3 {
  margin-top: 1.5em;
  margin-bottom: .5em;
  font-size: 1.05rem;

  @media (min-width: @breakpointSmall) {
    font-size: 1.1rem;
  }
}

h4 {
  margin-bottom: .2em;
}

p {
  margin-top: 0;
}

img {
  max-width: 100%;
}

article {
  h2 {
    text-align: center;
  }

  &.justify p {
    text-align: justify;
  }
}

.section {
  margin-bottom: 10vw;
  padding: 35px 5vw;
  border-top: 2px dashed fadeout(@colorFg, 90);

  @media (min-width: 1000px) {
    padding-left: 0;
    padding-right: 0;
  }

  .section-inner {
    max-width: 900px;
    margin: 0 auto;
  }
}

.german {
  color: @colorGerman;
}

.french {
  color: @colorFrench;
}

.menu {
  li {
    display: inline-block;
    vertical-align: top;
  }
}

.button {
  display: inline-block;
  padding: 0 20px;
  border: 1px solid fadeout(@colorFg, 50);
  border-radius: 18px;
  line-height: 36px;
  color: @colorFg;
}

#navigation {
  padding: 10vw 7px 0;
  text-align: center;

  .menu {
    li {
      margin: 0 1vw;
    }
  }

  .link {
    display: block;
    width: 22vw;
    margin-bottom: 16px;
    text-align: center;

    @media (min-width: 430px) {
      width: auto;
    }

    .link-circle {
      display: inline-block;
      width: 70px;
      height: 70px;
      margin-bottom: 8px;
      border: 3px solid @colorFg;
      border-radius: 50%;
      text-align: center;

      @media (min-width: @breakpointMedium) {
        width: 11vw;
        height: 11vw;
        margin-bottom: 12px;
        border-width: 4px;
      }

      @media (min-width: @breakpointLarge) {
        width: 120px;
        height: 120px;
        border-width: 4px;
      }

      .icon {
        .icon(30px);
        .center-vertically;

        @media (min-width: @breakpointMedium) {
          .icon(4.5vw);
        }

        @media (min-width: @breakpointLarge) {
          .icon(40px);
        }
      }
    }

    .link-label {
      display: block;
      text-transform: uppercase;
      font-weight: normal;
      font-size: .7rem;
      line-height: 1.2;
      .ellipsis;

      @media (min-width: @breakpointMedium) {
        font-size: .8rem;
      }

      @media (min-width: @breakpointMedium) {
        font-size: 1rem;
      }
    }
  }
}

#header {
  overflow: hidden;
  text-align: center;
  line-height: 1.8;
  background-color: @colorYellow;

  .header-inner {
    position: relative;
    min-height: 100vh;
    max-width: 1000px;
    margin: 0 auto;
  }

  .teaser {
    position: absolute;
    width: 120%;
    max-width: 1000px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    @media (min-width: @breakpointMedium) {
      width: 100%;
    }
  }

  .french {
    color: @colorViolett;
  }

  .countdown {
    position: absolute;
    bottom: 60px;
    width: 100%;
    padding: 0 5vw;

    #countdown {
      white-space: nowrap;
      overflow: hidden;
      background-color: fadeout(@colorViolett, 95);
      color: @colorBg;
      font-weight: bold;
      text-align: center;
      font-size: 18px;
      border-radius: 5px;

      @media (min-width: @breakpointMedium) {
        font-size: 30px;
      }

      > div {
        display: inline-block;
        padding: 5px;
        font-weight: bold;

        @media (min-width: @breakpointMedium) {
          padding: 10px;
        }
      }

      .smalltext {
        font-size: 10px;
        font-weight: normal;
        color: mix(@colorBg, @colorFg, 90);

        @media (min-width: @breakpointMedium) {
          font-size: 14px;
        }
      }
    }
  }

  .more {
    .icon(20px);
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    opacity: .4;
  }
}

#program {

  &.active {
    #overlay {
      opacity: 1;
    }
  }
  #overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    background-color: fadeout(@colorViolett, 10);
    opacity: 0;
    transition: opacity 200ms;
  }

  .slot.active {
    position: relative;
    z-index: 1;
  }

  .slot-head {
    display: block;

    h2 {
      margin-bottom: 0;
      font-size: 1.4em;

      @media (min-width: @breakpointSmall) {
        font-size: 1.8em;
      }

      @media (min-width: @breakpointMedium) {
        font-size: 3em;
      }

      .artist {
        margin-right: .1em;
        text-decoration: underline;
      }

      .origin {
        font-size: .4em;
        font-weight: normal;
      }
    }
  }

  .slot-more {
    display: none;
    margin-bottom: 12px;

    .time {
      padding: 15px;
      text-align: center;
      font-size: 1.5em;
    }

    .social {
      padding: 15px;
      text-align: center;
    }
  }

  .history {
    padding: 5px;
    text-align: center;
  }

}

.program-addendum {
  margin-top: 30px;
  padding: 20px;
  text-align: center;

  .admission {
    font-size: 1.5rem;
    font-style: italic;
    padding: 20px 0;
  }
}

#location {
  .map {
    text-align: center;

    .map-link {
      display: block;
      width: 300px;
      max-width: 100%;
      margin: 0 auto;
    }

    .map-image {
      width: 100%;
      height: 100%;
    }
  }

  .commute {
    margin-bottom: 1em;

    p {
      margin: 0;
    }
  }
}

#support {
  margin-bottom: 0;
  background-color: white;
  text-align: center;
  color: @colorViolett;

  .french {
    color: @colorYellow;
  }

  .german {
    color: @colorViolett
  }

  .donation {
    margin-bottom: 50px;
  }

  .payment {
    margin-top: 25px;
    margin-bottom: 15px;

    .payment-method {
      display: inline-block;
      height: 50px;
      margin-bottom: 5px;
      vertical-align: top;

      img, input[type=image] {
        max-width: 100%;
        max-height: 100%;
      }

      &.paypal {
        background-color: white;
        padding: 7px;

        input[type=image] {
          width: auto;
          height: 100%;
        }
      }
    }
  }

  .support-link {
    display: inline-block;
    margin: 5px;
    height: 70px;
    vertical-align: top;

    img {
      width: auto;
      height: 100%;
    }
  }
}

#footer {
  padding: 12px;
  text-align: center;

  .footer-menu {
    .link {
      display: block;
      padding: 7px;
      text-align: center;
      opacity: .5;
    }

    .icon {
      .icon(30px);
    }
  }

  a {
    color: @colorLink;
    text-decoration: none;
  }
}

#program2015 {
  color: @colorFg;

  .slot-head {
    position: relative;

    h2 {
      margin: 0;
      line-height: 40px;
      text-align: left;
    }

    .origin {
      margin-bottom: 0;
      color: @colorGerman;
    }
  }
}

