@import (less) "../bower_components/.dist/bower.css";

@colorBg: white;
@colorFg: #4D4D4D;

@gradientTurquoise: #00CEBA;
@gradientOrchid: #B383B7;
@gradientFg: white;
@gradientLink: #ffd583;

@fontSize: 14px;
@fontFamily: Helvetica, Arial, sans-serif;

*, *:before, *:after {
  box-sizing: border-box;
}

html {
  font-family: @fontFamily;
  font-size: @fontSize;
  font-weight: 300;
  color: @colorFg;
}

body {
  background-image: linear-gradient(30deg, @gradientTurquoise 0%, @gradientOrchid 80%);
}

#splash {
  min-height: 100vh;
  padding-top: 15vh;
  text-align: center;
  line-height: 1.8;
  color: @gradientFg;

  a {
    color: @gradientLink;
  }

  @media screen and (max-height: 350px) {
    padding-top: 15vh;
  }

  .logo {
    display: block;
    margin: 0 auto 5vh;
    width: 100%;
    max-width: 1200px;
    max-height: 35vh;
  }

  .calendar {
    .addthisevent-drop {
      font-family: @fontFamily;
    }
    .addthisevent_dropdown .copyx {
      display: none;
    }
  }

  .donation {
    width: 450px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
  }
}

#footer {
  padding: 12px;
  text-align: center;
  color: @gradientLink;

  a {
    color: @gradientLink;
    text-decoration: none;
  }
}
