@import (less) "../bower_components/.dist/bower.css";

@colorBg: white;
@colorFg: #4D4D4D;

@gradientTurquoise: #00CEBA;
@gradientOrchid: #B383B7;
@gradientFg: white;
@gradientLink: #FFCC66;

*, *:before, *:after {
  box-sizing: border-box;
}

html {
  font-family: Helvetica, Arial, sans-serif;
  color: @colorFg;
  font-weight: 300;
}

body {
  background-image: linear-gradient(30deg, @gradientTurquoise 0%, @gradientOrchid 80%);
}

#splash {
  min-height: 100vh;
  text-align: center;
  padding-top: 20vh;
  color: @gradientFg;

  a {
    color: @gradientLink;
  }

  @media screen and (max-height: 350px) {
    padding-top: 15vh;
  }

  .logo {
    display: block;
    margin: 0 auto 5vh;
    width: 100%;
    max-width: 1200px;
    max-height: 40vh;
  }

  .info {
    font-size: 0.9em;
    line-height: 1.8em;

    @media screen and (max-height: 350px) {
      margin-top: 0;
    }
  }

  .donation {
    padding: 20px;
  }
}
