@breakpointSmall: 400px;
@breakpointMedium: 600px;
@breakpointLarge: 1000px;

@gradientTurquoiseOriginal: #00CEBA;
@gradientTurquoise: rgb(9, 178, 185);
@gradientOrchid: #B383B7;

@colorYellow: #FFBD37;
@colorViolett: #300033;

@colorGerman: white;
@colorFrench: #ffd583;

@colorBg: @colorViolett;
@colorFg: @colorGerman;
@colorLink: @colorYellow;

@fontSize: 14px;
@fontFamily: Helvetica, Arial, sans-serif;
