@breakpointSmall: 400px;
@breakpointMedium: 600px;
@breakpointLarge: 1000px;

@gradientTurquoiseOriginal: #00CEBA;
@gradientTurquoise: rgb(9, 178, 185);
@gradientOrchid: #B383B7;

@colorGerman: white;
@colorFrench: #300033;

@colorBg: @colorFrench;
@colorFg: @colorGerman;
@colorLink: #ffd583;

@fontSize: 14px;
@fontFamily: Helvetica, Arial, sans-serif;
