---
layout: default
---

<header id="header">
	{% include_relative img/header.svg %}
  <div class="event-meta">19.9.2015 | Klingental | 16:00h<span class="icon icon-calendar"></span></div>
  <div class="calendar">
    <div title="Add to Calendar" class="addthisevent">
      Im Kalender eintragen
      <span class="start">19/09/2015 16:00</span>
      <span class="end">20/09/2015 6:00</span>
      <span class="timezone">Europe/Berlin</span>
      <span class="title">Frontâle - Festival für frankophone Musik</span>
      <span class="description">Sprach-Grenzerfahrungen und Savoir-vivre</span>
      <span class="location">Klingental 20, Basel, Switzerland</span>
      <span class="date_format">DD/MM/YYYY</span>
    </div>
  </div>
  <nav id="navigation">
    <ul class="menu">
      <li>
        <a class="link" href="#program">
          <span class="link-circle"><span class="icon icon-music"></span></span>
          <span class="link-label german">Programm</span>
          <span class="link-label french">Programme</span>
        </a>
      </li>
      <li>
        <a class="link" href="#location">
          <span class="link-circle"><span class="icon icon-location"></span></span>
          <span class="link-label german">Lageplan</span>
          <span class="link-label french">Location</span>
        </a>
      </li>
      <li>
        <a class="link" href="#support">
          <span class="link-circle"><span class="icon icon-like"></span></span>
          <span class="link-label german">Spenden</span>
          <span class="link-label french">Dons</span>
        </a>
      </li>
      <li>
        <a class="link" href="#organisation">
          <span class="link-circle"><span class="icon icon-frontale"></span></span>
          <span class="link-label german">Verein</span>
          <span class="link-label french">Association</span>
        </a>
      </li>
      <li>
        <a class="link" href="https://www.facebook.com/frontalefestival">
          <span class="link-circle"><span class="icon icon-facebook"></span></span>
          <span class="link-label german">Facebook</span>
          <span class="link-label french">Facebook</span>
        </a>
      </li>
    </ul>
  </nav>
  <span class="more icon icon-arrow-down"></span>
</header>

<section id="program" class="section">
  <h1><span class="german">Programm</span><span class="french">Programme</span></h1>
  <div class="grid">
    <div class="grid-box">
      <h2>DMP Crew</h2>
      <time datetime="2015-09-19 16:00">16:00h</time>
      <div class="video">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/P-v-l-MAPu8" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>
    <div class="grid-box">
      <h2>Destination Lonely</h2>
      <time datetime="2015-09-19 17:30">17:30h</time>
      <div class="video">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/w6Beu1_krvU" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>
    <div class="grid-box">
      <h2>Artcore State Of Mind</h2>
      <time datetime="2015-09-19 19:00">19:00h</time>
      <div class="video">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/BzjmqDS0ep4" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>
    <div class="grid-box">
      <h2>Mouse DTC</h2>
      <time datetime="2015-09-19 20:30">20:30h</time>
      <div class="video">
        <iframe width="420" height="315" src="https://www.youtube.com/embed/zsyTcVTzJhg" frameborder="0" allowfullscreen></iframe>
      </div>
      <!--<div class="description">-->
        <!--<div class="german">Audrey, elektronische Mini-Maus und Antidepressivum, ist die charmante Chefin dieses explosiven Trios, das Pop und Electro' Roll mixt: ein “Variété alternative“. Ein bisschen Lio, eine Haarsträhne von Katerine und man denkt an Jacno. Miossec schreibt die Texte: schön schelmisch, absurd und immer etwas verspielt. Sie sind Fans von Michael Jackson, den Ramones, Vladimir Cosma oder Die Antwoord .... Die Maus wetzt ihre scharfen Krallen und kratzt am Glanz des Anstands. Ihr 1. Album „Mon Véhicule“ ist im September letzten Jahres erschienen und nun erhältlich.</div>-->
        <!--<div class="french">C’est Audrey, mini souris électrique et antidépressive, ingénue en chef de ce trio détonant où se mélangent rock et electro roll. “Variété alternative”. Un poil de Lio, une mèche de cheveux de Katerine, on pense à Jacno, et c’est Miossec qui lui écrit des textes. Des histoires friponnes, ou absurdes, mais toujours ludiques. Fan de Michael Jackson et des Ramones autant que de Vladimir Cosma ou Die Antwoord, la souris aux pattes griffues gratte le vernis de la bienséance.</div>-->
      <!--</div>-->
    </div>
  </div>
  <div class="program-addendum">
    <span class="german">Programmänderungen vorbehalten</span> <span class="french">Horaires et programmation sous réserve de modifications</span>
    <div class="admission"><span class="german">Freier Eintritt</span> <span class="french">Entrée libre</span></div>
    <!--<h2>Afterparty</h2>-->
  </div>
</section>

<section id="location" class="section">
  <h1><span class="german">Lageplan</span><span class="french">Location</span></h1>
  <div class="grid">
    <div class="grid-box map">
      <a class="map-link" href="https://goo.gl/maps/NbvbC">
      {% include_relative img/map.svg %}
      <span>Google Maps</span>
      </a>
    </div>
    <div class="grid-box">
      <div class="article">
        <h3><span class="german">Öffentlicher Verkehr</span> <span class="french">Transport Public</span></h3>
        <div class="commute">
          <p class="french">Station Kaserne: <span class="italic">Tram 8, 17</span></p>
          <p class="french">Station Rheingasse: <span class="italic">Tram 6, 8, 14, 15, 17 | Bus 31, 34, 38</span></p>
        </div>
        <p>
          <span class="german">Fahrplaninformationen</span>
          <span class="french">Informations sur les horaires: <a href="http://www.bvb.ch/fahrplan-netz/online-fahrplan">BVB</a></span>
        </p>
        <h3><span class="german">Mit dem Auto</span> <span class="french">En voiture</span></h3>
        <p class="german">Das Festival befindet sich in der autofreien Zone und stellt keine Parkmöglichkeiten zur Verfügung. Wir empfehlen das nahegelegene
          <a href="https://goo.gl/maps/FHVrl">Claramatte</a> Parkhaus.</p>
        <p class="french">Le festival se situe dans une zone piétonne et n'offre aucune possibilité de stationnement. Un parking couvert (<a href="https://goo.gl/maps/FHVrl">Claramatte</a>) se trouve à proximité.</p>
      </div>
    </div>
  </div>
</section>

<section id="organisation" class="section">
  <h1><span class="german">Verein</span><span class="french">Association</span></h1>
  <article class="justify">
    <p>Der Verein „Frontâle“ versucht die frankophone (Teil-)Identität der Stadt Basel zu unterstreichen sowie deren Grenznähe ins kulturelle Bewusstsein zu rufen. Zu diesem Zweck wird ein kleines Musikfestival veranstaltet, an dem vier Gruppierungen aus dem französischsprachigen Raum, insbesondere aus dem angrenzenden Elsass und der Suisse romande, auftreten werden.</p>
    <h2 class="german">Philosophie</h2>
    <p>Der Verein „Frontâle“ versucht dem von den Behörden stets betonten Konzept der Trinationalität Leben einzuhauchen. Sowohl für die Stadt als auch für die Region Basel stehen die Wirtschaftsbeziehungen mit unseren Nachbarländern im Vordergrund. Ein kultureller Austausch, insbesondere mit dem angrenzenden Frankreich, findet hingegen kaum statt. Im musikalischen Bereich etwa dienen den Deutschschweizern vorwiegend die Szenen in Berlin und New York und nicht etwa jene in Paris als Vorbilder. Mit Ausnahme von alten Klassikern (z.B. Jacques Brel) und einiger weniger Koryphäen des Westschweizer Musikmarktes (z.B. Sens Unik, Stress, etc.) wird frankophonen Künstlern nur wenig Beachtung geschenkt.</p>
    <p>Diese Beobachtung einer kulturellen Einseitigkeit beschränkt sich im Übrigen nicht nur auf die Region Basel, die aufgrund ihrer Grenzlage besonders für eine gelebte Mehrsprachigkeit prädestiniert sein müsste, sondern beschreibt auch die Qualität der Beziehungen zwischen der Deutschschweiz und der Suisse romande. Böse Zungen behaupten gar: „Les Suisses s’entendent parce qu’ils ne se comprennent pas.“ Dies ist wahrlich ein unwürdiges Fundament für einen Staat, dessen Vertreter sich in 1. August-Reden stets auf die Mehrsprachigkeit als Identitätsmerkmal mit staatstragender Funktion berufen. Das gilt umso mehr als das Englische sowohl Deutsch als auch Französisch als erste Fremdsprache in den beiden Landesteilen zu verdrängen droht.</p>
    <p>Diese Entwicklung ist unter kulturellen Gesichtspunkten zu bedauern und wird weder dem staatspolitischen Anspruch einer mehrsprachigen Schweiz im Herzen Europas noch dem Status Basels als Zentrum einer trinationalen Region gerecht. Hier möchten wir, der Verein „Frontâle“, ansetzen und versuchen, mit unserem Festival einen kleinen, doch aber feinen Kontrapunkt zu setzen – bietet sich doch gerade die Musik als universelle Form der Verständigung an, einen Austausch über die Sprach- und Landesgrenzen hinweg zu ermöglichen. <a href="https://docs.google.com/document/d/1f-Po7mrvYNqkAEeh12CPVLDP_bAtNqKAvLRDVtFbX6o/pub">Mehr Info</a></p>
    <p class="french">Version française suivra</p>
  </article>
</section>

<section id="support" class="section">
  <h1><span class="german">Spenden</span><span class="french">Dons</span></h1>
  <article>
    <p><span class="german">Spenden Sie einfach und sicher online.</span> <span class="french">Dons en ligne simple et en toute sécurité.</span></p>
    <div class="payment">
      <form class="payment-method paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
        <input type="hidden" name="cmd" value="_s-xclick">
        <input type="hidden" name="hosted_button_id" value="H5ZD385B8PNPJ">
        <input type="image" src="img/payment/PayPal.svg" border="0" name="submit" alt="Jetzt einfach, schnell und sicher online bezahlen – mit PayPal.">
        <img alt="" border="0" src="https://www.paypalobjects.com/de_DE/i/scr/pixel.gif" width="1" height="1">
      </form>
      <a class="payment-method postfinance" href="https://frontale.payrexx.com">
        <img src="img/payment/PostFinance.svg" alt="Postfinance">
      </a>
    </div>
    <p>
      <small>IBAN:
        <span class="noWrap">CH24 0900 0000 6112 2969 4</span><br> Verein Frontâle - Untere Rebgasse 22 - 4058 Basel
      </small>
    </p>
  </article>
  <article>
    <h2><span class="german">Vielen Dank!</span><span class="french">Merci beaucoup !</span></h2>
    <a class="support-link" href="http://www.taktwerk.ch/"><img src="img/sponsors/taktwerk.svg" alt="Taktwerk"></a>
  </article>
</section>

<footer id="footer">
  <ul class="menu footer-menu">
    <li>
      <a class="link" href="mailto:info@frontale.ch" alt="Kontakt / Contact">
        <span class="icon icon-message"></span>
      </a>
    </li>
    <li>
      <a class="link" href="https://www.facebook.com/frontalefestival" alt="Facebook">
        <span class="icon icon-facebook"></span>
      </a>
    </li>
    <li>
      <a class="link" href="http://www.madeinbasel.org" alt="Made in Basel">
        <span class="icon icon-madeinbasel"></span>
      </a>
    </li>
    <li>
      <a class="link" href="https://github.com/frontale-festival" alt="Github">
        <span class="icon icon-github"></span>
      </a>
    </li>
  </ul>
</footer>

